### https://raw.github.com/github/gitignore/f0e244ef210c1ed5c468cc8c82f3e63527376492/scala.gitignore

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime

.idea
!.gitkeep
